.block-link {
  display: block;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 4px;
  border-bottom: 1px solid $accent-color;
  color: $dark;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $light;
  }
}
