.blog {
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 60px;
  }
}

.blog__link {

  @media (max-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}

.blog-list {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.blog__item {
  display: flex;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: $tablet-width) {
    width: 678px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      width: 290px;
      margin-bottom: 40px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(1n) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../../img/blog-care-for-jewellery-desktop.jpg);
    background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-desktop.webp') 1x);
    background-size: 285px 300px;

    @media (min-resolution: $retina-display) {
      background-image: url('../../img/blog-care-for-jewellery-desktop@2x.jpg');
      background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-desktop@2x.webp') 2x);
    }

    @media (max-width: $tablet-width) {
      background-image: url(../../img/blog-care-for-jewellery-tablet.jpg);
      background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-tablet.webp') 1x);
      background-size: 339px 300px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-care-for-jewellery-tablet@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-tablet@2x.webp') 2x);
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url(../../img/blog-care-for-jewellery-mobile.jpg);
      background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-mobile.webp') 1x);
      background-size: 290px 256px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-care-for-jewellery-mobile@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-care-for-jewellery-mobile@2x.webp') 2x);
      }
    }
  }

  &:nth-child(2n) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url('../../img/blog-power-of-crystal-desktop.jpg');
    background-image: -webkit-image-set(url('../img/blog-power-of-crystal-desktop.webp') 1x);
    background-size: 285px 300px;
    background-position: right 0 top 0;

    @media (min-resolution: $retina-display) {
      background-image: url('../../img/blog-power-of-crystal-desktop@2x.jpg');
      background-image: -webkit-image-set(url('../../img/blog-power-of-crystal-desktop@2x.webp') 2x);
    }

    @media (max-width: $tablet-width) {
      background-image: url('../../img/blog-power-of-crystal-tablet.jpg');
      background-image: -webkit-image-set(url('../../img/blog-power-of-crystal-tablet.webp') 1x);
      background-size: 339px 300px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-power-of-crystal-tablet@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-power-of-crystal-tablet@2x.webp') 2x);
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url('../../img/blog-power-of-crystal-mobile.jpg');
      background-image: -webkit-image-set(url('../../img/blog-power-of-crystal-mobile.webp') 1x);
      background-size: 290px 256px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-power-of-crystal-mobile@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-power-of-crystal-mobile@2x.webp') 2x);
      }
    }
  }

  &:nth-child(2n) .blog__card {
    margin-left: 0;
  }

  &:nth-child(3n) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../../img/blog-19-trends-desktop.jpg');
    background-image: -webkit-image-set(url('../img/blog-19-trends-desktop.webp') 1x);
    background-size: 570px 630px;

    @media (min-resolution: $retina-display) {
      background-image: url('../../img/blog-19-trends-desktop@2x.jpg');
      background-image: -webkit-image-set(url('../../img/blog-19-trends-desktop@2x.webp') 2x);
    }

    @media (max-width: $tablet-width) {
      background-image: url(../../img/blog-19-trends-tablet.jpg);
      background-image: -webkit-image-set(url('../../img/blog-19-trends-tablet.webp') 1x);
      background-size: 339px 300px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-19-trends-tablet@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-19-trends-tablet@2x.webp') 2x);
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url(../../img/blog-19-trends-mobile.jpg);
      background-image: -webkit-image-set(url('../../img/blog-19-trends-mobile.webp') 1x);
      background-size: 290px 256px;

      @media (min-resolution: $retina-display) {
        background-image: url('../../img/blog-19-trends-mobile@2x.jpg');
        background-image: -webkit-image-set(url('../../img/blog-19-trends-mobile@2x.webp') 2x);
      }
    }
  }
}

.blog__card {
  box-sizing: border-box;
  width: 285px;
  min-height: 300px;
  margin-left: auto;
  margin-top: auto;
  padding-top: 67px;
  padding-left: 61px;
  padding-right: 61px;
  text-align: center;
  background-color: $special-background;

  @media (max-width: $tablet-width) {
    width: 339px;
    min-height: 300px;
    margin-left: 339px;
    margin-right: 0;
    padding-left: 88px;
    padding-right: 88px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    min-height: 256px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 256px;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.blog__card-time {
  display: block;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 18px;
  color: $light;
}

.blog__card-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: $black;
}

.blog__card-link {
  display: block;
  width: max-content;
  margin: 0 auto;
  line-height: 28px;
  border-bottom: 1px solid $accent-color;
  color: $dark;
}
