.faq {
  margin-bottom: 110px;

  @media (max-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 60px;
  }
}

.faq__title {
  margin-bottom: 48px;

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }
}

.faq__list {
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
  list-style: none;
  border: 1px solid $accent-color;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.faq__item {
  position: relative;
  padding-top: 43px;
  padding-left: 42px;
  padding-right: 38px;
  padding-bottom: 44px;
  border-bottom: 1px solid $accent-color;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-left: 49px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 16px;
    padding-bottom: 21px;
  }

  &:last-child {
    border-bottom: none;
  }

  &::after {
    position: absolute;
    right: 48px;
    top: 51px;
    content: '';
    width: 16px;
    height: 9px;
    background-image: url(../../img/icon-arrow-faq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.1s;

    @media (max-width: $tablet-width) {
      right: 49px;
      top: 48px;
      width: 23px;
      height: 14px;
    }

    @media (max-width: $mobile-width) {
      right: 22px;
      top: 22px;
    }
  }

  &--open {
    padding-bottom: 41px;

    @media (max-width: $tablet-width) {
      padding-bottom: 44px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 18px;
    }

    &::after {
      transform: rotate(180deg);
      transition: 0.1s;
    }
  }

  &--open .faq__answer {
    display: block;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }
}

.faq__question {
  margin: 0;
  font-size: 18px;
  line-height: 23px;

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__answer {
  display: none;
  max-width: 527px;
  margin: 0;
  margin-top: 8px;
  margin-left: 7px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    max-width: 540px;
    margin-top: 26px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
