.faq__list {
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
  list-style: none;
  border: 1px solid $accent-color;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.faq__item {
  position: relative;
  padding-top: 50px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 49px;
  border-bottom: 1px solid $accent-color;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &::after {
    position: absolute;
    right: 38px;
    top: 50px;
    content: '';
    width: 16px;
    height: 9px;
    background-image: url(../../img/icon-arrow-faq.svg);
  }

  &--open {
    &::after {
      transform: rotate(180deg);
    }
  }

  &--open .faq__answer {
    display: block;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }
}

.faq__question {
  margin: 0;
  font-style: 18px;
  line-height: 23px;

  @media (max-width: $mobile-width) {
    padding-right: 103px;
  }
}

.faq__answer {
  display: none;
  margin: 0;
  margin-top: 20px;
  max-width: 527px;
  font-weight: 400;
}
