.intro {
  box-sizing: border-box;
  margin-bottom: 120px;
  padding-top: 181px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--index {
    min-height: 463px;
    background-image: url("../img/intro-index-desktop.jpg");
    background-image: -webkit-image-set(url("../img/intro-index-desktop.webp") 1x);

    @media (min-resolution: $retina-display) {
      background-image: url("../img/intro-index-desktop@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-index-desktop@2x.webp") 2x);
    }
  }

  &--catalog {
    min-height: 261px;
    margin-bottom: 80px;
    padding-top: 92px;
    background-image: url("../img/intro-catalog-desktop.jpg");
    background-image: -webkit-image-set(url("../img/intro-catalog-desktop.webp") 1x);

    @media (min-resolution: $retina-display) {
      background-image: url("../img/intro-catalog-desktop@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-catalog-desktop@2x.webp") 2x);
    }
  }
}

.intro--index {
  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
    background-image: url("../img/intro-index-tablet.jpg");
    background-image: -webkit-image-set(url("../img/intro-index-tablet.webp") 1x);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-index-tablet@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-index-tablet@2x.webp") 2x);
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 189px;
    margin-bottom: 60px;
    background-image: url("../img/intro-index-tablet.jpg");
    background-image: -webkit-image-set(url("../img/intro-index-mobile.webp") 1x);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-index-mobile@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-index-mobile@2x.webp") 2x);
    }
  }
}

.intro--catalog {
  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
    background-image: url("../img/intro-catalog-tablet.jpg");
    background-image: -webkit-image-set(url("../img/intro-catalog-tablet.webp") 1x);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-catalog-tablet@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-catalog-tablet@2x.webp") 2x);
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 80px;
    margin-bottom: 40px;
    background-image: url("../img/intro-catalog-tablet.jpg");
    background-image: -webkit-image-set(url("../img/intro-catalog-mobile.webp") 1x);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-catalog-mobile@2x.jpg");
      background-image: -webkit-image-set(url("../img/intro-catalog-mobile@2x.webp") 2x);
    }
  }
}

.intro--catalog .intro__title {
  font-size: 34px;
  line-height: 44px;
}

.intro--catalog .intro__subtitle {
  font-size: 22px;
  line-height: 29px;
}

.intro__title {
  margin: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;

  @media (max-width: $mobile-width) {
    font-size: 38px;
    line-height: 49px;
  }

  &--catalog {
    letter-spacing: normal;
    margin-bottom: 2px;

    @media (max-width: $mobile-width) {
      margin-bottom: 7px;
    }
  }
}

.intro__subtitle {
  margin: 0;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 39px;
  font-weight: 500;
  color: $white;

  @media (max-width: $mobile-width) {
    margin-top: -7px;
    font-size: 34px;
    line-height: 44px;
  }

  &--catalog {
    font-size: 22px;
    line-height: 28px;

    @media (max-width: $mobile-width) {
      max-width: 277px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
