.page-main {

  &--product-card {
    padding-top: 69px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}
}

.page-header--open-menu + .page-main {
  padding-top: 0;
}

.page__body--no-js .page-main {
  padding-top: 0;
}

.page-main__catalog-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    align-items: center;
    flex-direction: column;
  }
}

.page-main__card-catalog {
  margin-left: auto;
  margin-right: auto;
}
