.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $dark;

  &--open-modal {
    overflow-y: hidden;
  }
}
