.pagination {
  display: none;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;

  &--desktop {
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &--tablet {
    @media (max-width: $tablet-width) {
      display: flex;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &--mobile {
    @media (max-width: $mobile-width) {
      display: block;
      text-align: center;
    }
  }

  &--catalog {
    display: flex;
  }
}

.pagination__item {
  margin-right: 12px;

  @media (max-width: $tablet-width) {
    margin-right: 13px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--mobile-current {
    margin-right: 10px;
  }

  &--mobile-amount {
    margin-left: 10px;
    margin-right: 0;
  }
}

.pagination__link {
  color: $light;

  &--current {
    color: $dark;
  }
}

.pagination__button {
  background-color: transparent;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  color: $dark;
}
