.pagination {
  border-top: 1px solid $border;
}

.pagination__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 398px;
  padding-top: 35px;
  margin-bottom: 75px;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 65px;
  }
}

.pagination__button {
  padding: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-right: 33px;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.pagination__item {
  margin-right: 12px;

  @media (max-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 23px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  color: $light;

  &--current {
    color: $dark;
  }
}

.pagination__button {
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  color: $dark;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $light;
  }

  &:active {
    color: darken($light, 20%);
  }
}
