.slider {
  position: relative;
  width: auto;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1365px) {
    max-width: 870px;
  }

  @media (max-width: $tablet-width) {
    max-width: 678px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
  }
}

.slider__title {
  margin-bottom: 25px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.slider__shop-link {
  margin-bottom: 54px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.slider__list {
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    max-width: 678px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    margin-bottom: 30px;
  }
}

.slider__image {
  margin-bottom: 16px;

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
    margin-bottom: 11px;
  }
}

.slider__button {
  position: absolute;
  top: 40px;
  width: 40px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--prev {
    left: -6px;

    @media (max-width: $tablet-width) {
      left: 0;
    }
  }

  &--next {
    right: -6px;

    @media (max-width: $tablet-width) {
      right: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 35px;
    height: 15px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__icon-button {
  width: 30px;
  height: 11px;
  stroke: $accent-color;

  &--next {
    transform: rotate(180deg);
  }

  @media (max-width: $tablet-width) {
    width: 35px;
    height: 15px;
  }
}


.slider__button .slider__icon-button {

  &:focus,
  &:hover {
    stroke: $black;
  }

  &:active {
    stroke: darken($light, 20%);
  }
}
