$white: #FFFFFF;
$black: #000000;
$dark: #1D1613;
$light: #9B9997;
$accent-color: #A87B62;
$border: #F6F5F4;
$form-search-background: rgba(255, 255, 255, 0.15);
$about-header: rgba(255, 255, 255, 0.75);
$special-background: #F0EAE4;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-display: 2dppx;
