@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Poppins-Regular.woff2'), url('../fonts/Poppins-Regular.woff');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Poppins-Medium.woff2'), url('../fonts/Poppins-Medium.woff');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Poppins-Bold.woff2'), url('../fonts/Poppins-Bold.woff');
}

@font-face {
	font-family: 'Cormorant Garamond';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Cormorant-Garamond-Regular-Italic.woff2'), url('../fonts/Cormorant-Garamond-Regular-Italic.woff2');
}

@font-face {
	font-family: 'Cormorant Garamond';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Cormorant-Garamond-Medium-Italic.woff2'), url('../fonts/Cormorant-Garamond-Medium-Italic.woff');
}

@font-face {
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/Cormorant-Garamond-SemiBold.woff2'), url('../fonts/Cormorant-Garamond-SemiBold.woff');
}

@font-face {
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Cormorant-Garamond-Bold.woff2'), url('../fonts/Cormorant-Garamond-Bold.woff2');
}
